<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Movies</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">
            <i class="bi bi-house"></i> Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/feedback">
            <i class="bi bi-chat-dots"></i> Feedback
          </a>
        </li>
      </ul>

      <div class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          [(ngModel)]="searchMovieTitle"
        />
        <button
          class="btn btn-outline-success me-1"
          type="button"
          [routerLink]="['/search/' + searchMovieTitle]"
        >
          Search
        </button>
      </div>

      <div class="d-flex">
        <button
          class="btn btn-outline-primary"
          (click)="auth.loginWithPopup()"
          *ngIf="!(auth.isAuthenticated$ | async); else logoutButton"
        >
          <i class="bi bi-box-arrow-in-right me-1"></i>Login
        </button>

        <ng-template #logoutButton>
          <div class="btn-group btn-logout">
            <button
              type="button"
              class="btn dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="true"
              id="dropdownMenuButton1"
            >
              <img
                [src]="loggedInUser.picture"
                [alt]="loggedInUser.name"
                class="rounded-circle"
                height="30"
                width="30"
              />
            </button>

            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="dropdownMenuButton1"
            >
              <li>
                <a href="#" class="dropdown-item">
                  <span *ngIf="loggedInUser.name">
                    <b>
                      <i class="bi bi-person me-1"></i
                      >{{ loggedInUser.name }}</b
                    >
                  </span>
                  <br />
                  <span *ngIf="loggedInUser.email">
                    <b>
                      <i class="bi bi-envelope me-1"></i
                      >{{ loggedInUser.email }}
                    </b>
                  </span>
                </a>
              </li>

              <hr />

              <li>
                <button class="dropdown-item logout" (click)="auth.logout()">
                  <i class="bi bi-box-arrow-left me-1"></i>Logout
                </button>
              </li>
            </ul>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</nav>

<br />
<br />
