<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <form [formGroup]="feedbackForm" (ngSubmit)="submitFeedback()">
        <legend>Let us know what you think</legend>
        <hr />

        <div class="mb-4">
          <label for="emailAddress" class="form-label">
            Email Address <span class="text-danger">*</span>
          </label>
          <input
            type="email"
            class="form-control"
            id="emailAddress"
            [ngClass]="
              emailAddress?.invalid && emailAddress?.dirty
                ? 'border-danger'
                : ''
            "
            formControlName="emailAddress"
            placeholder="Your email address"
          />
          <div
            class="text-danger"
            *ngIf="emailAddress?.invalid && emailAddress?.dirty"
          >
            <div *ngIf="emailAddress?.hasError('required')">
              Email address is required
            </div>
            <div *ngIf="emailAddress?.hasError('email')">Invalid format</div>
            <div *ngIf="emailAddress?.hasError('invalidDomain')">
              Invalid domain
            </div>
          </div>
        </div>

        <div class="mb-4">
          <label for="phoneNumber" class="form-label">Phone Number</label>
          <input
            type="text"
            class="form-control"
            id="phoneNumber"
            formControlName="phoneNumber"
            placeholder="Your phone number"
            [ngClass]="
              phoneNumber?.invalid && phoneNumber?.dirty ? 'border-danger' : ''
            "
          />
          <div
            class="text-danger"
            *ngIf="phoneNumber?.invalid && phoneNumber?.dirty"
          >
            <div *ngIf="phoneNumber?.hasError('pattern')">Invalid pattern</div>
          </div>
        </div>

        <div class="mb-4">
          <label for="rate" class="form-label">Rate Experience</label>
          <input
            type="range"
            class="form-range"
            min="0"
            max="10"
            step="1"
            id="rate"
            formControlName="rate"
          />
          <div>Your rate: {{ rate?.value }}</div>
          <div class="text-danger" *ngIf="rate?.invalid && rate?.dirty">
            <div *ngIf="rate?.hasError('max')">Email address is required</div>
            <div *ngIf="rate?.hasError('min')">Invalid format</div>
          </div>
        </div>

        <div class="mb-4">
          <label for="feedbackTitle" class="form-label">
            Title <span class="text-danger">*</span>
          </label>
          <input
            type="text"
            class="form-control"
            id="feedbackTitle"
            formControlName="feedbackTitle"
            placeholder="Your feedback title"
            [ngClass]="
              feedbackTitle?.invalid && feedbackTitle?.dirty
                ? 'border-danger'
                : ''
            "
          />
          <div
            class="text-danger"
            *ngIf="feedbackTitle?.invalid && feedbackTitle?.dirty"
          >
            <div *ngIf="feedbackTitle?.hasError('required')">
              Feedback title is required
            </div>
          </div>
        </div>

        <div class="mb-4">
          <label for="feedback" class="form-label">
            Feedback
            <span class="text-danger">*</span>
          </label>

          <textarea
            type="text"
            class="form-control"
            id="feedback"
            formControlName="feedback"
            placeholder="Your feedback"
            [ngClass]="
              feedback?.invalid && feedback?.dirty ? 'border-danger' : ''
            "
          ></textarea>

          <div class="text-danger" *ngIf="feedback?.invalid && feedback?.dirty">
            <div *ngIf="feedback?.hasError('required')">
              Feedback is required
            </div>
            <div *ngIf="feedback?.hasError('inappropriateKeyword')">
              Remove inappropriate keywords
            </div>
          </div>
        </div>

        <div class="mb-4">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="feedbackForm.invalid"
          >
            <i class="bi bi-send me-1"></i>Submit feedback
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
